<html>
<body>
 <h1> {{quiz.title}}</h1>
 <a href='/quiz/editQuiz?quiz_id={{quiz_key}}'>Edit Quiz</a>
 <h3> Add question for quiz</h3>
 <form id='edit_form' action='/quiz/submitQuestion' method='POST' enctype="application/octet-stream">
 <input type='hidden' name='quiz_id' value='{{ quiz_key }}'/>
 <table class='commonAttributes' width='50%'> 
 <tr><td><b>Question: </b></td><td><textarea name='question_text' rows='5' cols='40'>Enter question here</textarea></td></tr>
 </table>
 <hr/>
 <center>
 <table class='addChoice' id='choice_table'>
 <tr id='object_menu'><td><a href='javascript:insertChoice();'>Add Choice</a></td></tr>
</table>
 </center>
 <input type='submit' value='Add Question' onSubmit="javascript:setValueForChoices()"/>
 </form>

<script type="text/javascript">
 var global_counter = 0;

 function insertChoice(){
    global_counter++;
    //not recommended but a shortcut
    var textHTML = '<b>Choice '+ global_counter +':<b><br><table><tr><td>Choice:</td><td><input type="text" value="Enter Choice" name="choice_texts"></td></tr>'+
     '<tr><td>Message:</td><td><input type="text" value="Enter Message" name="choice_messages"></td></tr>'+
    '<tr><td>Correct:</td><td><input type="checkbox" name="is_correct" value="'+global_counter+'">Is Correct</input>'+
    '</td></tr></table><hr/>';
    var new_row = document.createElement("TR");
    var col1 = document.createElement("TD");

    col1.innerHTML = textHTML;
    new_row.appendChild(col1);
    var el1 = document.getElementById('object_menu')
    el1.parentNode.insertBefore(new_row,el1);
} 

function setValueForChoices(){
   var el = document.getElementByID('is_correct');
   for (var i=0; i<el.length; i++){
     if (el[i].checked==true){
        var num = i+1
        var key = 'choice'+ num;
        var hiddenInput = document.getElementById(key);
 
	hiddenInput.value=True;

     }  
   }

}

</script>
