<html>
<head>

<script src="/static/js/closure-library-read-only/closure/goog/base.js">
</script>
<script src="/static/js/lantern_widget_channel.js"></script>
<script src="/static/js/lantern_quiz.js"></script>
<style>
.quizButtonStyle { height:80px; font-size: 2em; padding: 0.25em; color:#009; 
                   float:center;}
</style>
</head>
<table width="100%">
<tr>
<td>
<div id='quizTitle'>
<h2>{{title}}</h2>
</div>
</td>
<td style="float:right">
<a href="javascript:openEditWindow('{{quiz_id}}')">Edit</a>
</td>
</tr>
</table>
<hr />
<div id='questionContainer'>
<div id='quizButtonContainer'>
<input type="button" id='quizButton' 
  class='quizButtonStyle' value='Start the quiz!!' 
  onClick="quiz_session.init();" />
</div>
<table border=0>
  <tr>
    <td>
      <div id='questionBody'></div>
    </td>
    <td>
      <div id='progressBox' style='float:right'></div>
    </td>
  </tr>
  <tr>
    <td>
      <div id='choices'></div>
    </td>
    <td>
      <div id='quizMessage'></div>
    </td>
  </tr>
  <tr>
    <td>
      <div id='nextQuestionBox'></div></td>
    <td>
      <div id='resetButton' style='float:right'></div>
    </td>
  </tr>
  <tr>
    <td>
      <div id='resetMessage'></div>
    </td>
  </tr>
</table>
</div>
<script>
/*
 *  Scripts and functions below are only for testing lantern_comm and
 *  lantern_widget_channel scripts.
 *  TODO(mukundjha): Replace test scripts with valid implementation.
 */

//Check if embedded in an iframe:

    if (top === self){
   
  } else {
  var quiz_session = new lantern.quiz.QuizSession('{{quiz_trunk_id}}',
                                                  '{{quiz_id}}');
  /** Function to collect user's response **/
 }
function openEditWindow(id){
  window.open('/quiz/editQuiz?quiz_id='+id);
} 
</script>
</html>
