 <div class="doc_property">
  <label class="label">Title:</label>
  <span class="value">{{object.doc_ref.trunk_tip.title}}&nbsp;</span>
 </div>
 <div class="doc_property">
  <label class="label label_for">Link:</label>
  <input class="value" type="text" name="data_val"
   value="/view?trunk_id={{object.trunk_ref|get_key}}&doc_id={{object.doc_ref|get_key}}" />
  <input type="hidden" name="data_type" value="doc_link" />
  <input type="hidden" name="data_title" value="no title" />
  <input type="hidden" name="data_width" value="0" />
  <input type="hidden" name="data_height" value="0" />
  <input type="hidden" name="data_is_shared" value="True" />
 </div>
 <hr>
