<table>
  <tr>
    <td>
      <b>Video ID: </b>
    </td>
    <td>
      <input type='text' name='data_val' value='{{ object.video_id }}'/>
      <input type='hidden' name='data_type' value='video'/>
    </td>
    </tr>
    <tr>
    <td>
      <b>Video Height: </b>
    </td>
    <td>
      <input type='text' name='data_height' value='{{ object.height }}'/>
     </td>
   </tr>
   <tr>
    <td>
      <b>Video Width: </b>
    </td>
    <td>
      <input type='text' name='data_width' value='{{ object.width }}'/>
     </td>
   </tr>
   <tr>
    <td>
      <b>Video Title: </b>
    </td>
    <td>
      <input type='text' name='data_title' value='{{ object.title }}'/>
     </td>
   </tr>
</table>
