<div id='{{object|get_key}}'>
</div>
<script> 
var doc_score = {{doc_score}};
if ( doc_score == 100) {

  lantern.comm.LanternChannelFactory.registerChannel(
    '/quiz/',
    '{{object.widget_url|safe}}','{{object|get_key}}','{{doc|get_key}}',
    '{{doc.trunk_ref|get_key}}','350px','100%',false,true);
  }
else
 {
   lantern.comm.LanternChannelFactory.registerChannel(
    '/quiz/',
    '{{object.widget_url|safe}}','{{object|get_key}}','{{doc|get_key}}',
    '{{doc.trunk_ref|get_key}}','350px','100%',false,false);
 }

</script>
